<div class="container mt-5">
  <form action="/urls" method="POST" class="text-center">
    <input type="text" class="form-control home--url mx-auto" id="name_en" name="name_en" placeholder="Input URL here" pattern="https?://.*" required />
    <button type="submit" class="btn btn-outline-primary home--submit--button mt-3">Shorten</button>
  </form>
</div>