<div class="container mt-5 text-center">

  <h2>Success! Please use this link:</h2>
  <button type="button" class="btn btn-link short--link--button">https://www.google.com</button>
  <button class="btn btn-primary short--copy--button">Copy</button>

</div>